frr defaults traditional
!
router ospf {{ pid }}
 router-id {{ router_id }}
{% for n in ospf.neighbors %}
 neighbor {{ n.ip }} area {{ n.area }}
{% endfor %}
{% for n in ospf.networks %}
 network {{ n.ip }}/{{ n.mask }} area {{ n.area }}
{% endfor %}
